<p></p>
<footer class="down-rodape">
  <footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
      <a class="btn btn-outline-light btn-floating m-1" href="https://wa.link/91yk3y" target="_blank" role="button">
        <i class="fab fa-whatsapp"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/joaldo-dos-santos-barbosa/" target="_blank" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/joaldo" target="_blank" role="button">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="text-center p-3" style="background-color: rgba(107, 106, 106, 0.171);">Copyright &copy; JoaldoSB</div>
  </footer>
</footer>
